@import "../mixins.styl";
$black=#000000

.header
  position relative
  width 100%
  height 640px
  background: #112039;
  .title
    $set-center()
  .banner
    position: absolute;
    top: 0;
    width 1920px
    height: 100%;
    left 50%
    transform: translateX(-50%);
  ul
    position absolute
    // left 360px
    color #fff
    bottom 0
    left: 50%;
    transform: translateX(-50%);

.list
  list-style none
  padding 0
  margin 0
  width 240px
  height 86px
  font-family:SourceHanSansCN-Regular;
  font-weight:400;
  font-size:20px;
  line-height 86px
  float left
  background-color rgba(66,133,244,0.081)
  cursor pointer
.active
  background-color #4285F4
  a
    color #fff

