a{
  color: white;
}
.box {
  position: relative;
  font-size: 16px;
  color: rgba(255,255,255, .7);
  text-align: left;
  line-height: 2;
  margin: 100px 0;
}

.avator {
  width: 300px;
  height: 440px;
  position: absolute;
  top: 0;
  right: 0;
}

.title {
  font-size: 36px;
  color: white;
}

li{
  list-style-image: url(../assets/icon/icon-square.png);
  margin-left: 20px;
}
li.subtitle{
  list-style: none;
  position: relative;
  left: -20px;
}
.subtitle {
  font-size: 24px;
  color: white;

}

.boss {
  padding-right: 400px;
}

.wraper {
  overflow: hidden;
  margin-top: 60px;
}

.left {
  float: left;
  margin-right: 100px;
}

.paragraph {
  margin-top: 20px;
}