.contact-us
  width 1200px
  height 800px
  margin 0 auto
  position relative
.nav
  height 98px
  margin-bottom 30px
  font-family:SourceHanSansCN-Medium;
  font-weight:500;
li
  width 600px
  height 97px
  line-height 130px
  border-bottom 1px #DEDEDE solid
  float left
#allmap
  width 100%
  height 500px
  position relative
  font-family:SourceHanSansCN-Normal;
  font-weight:400;
  overflow hidden
#map
  width 100%
  height 100%
  z-index -1
.isActive
  border-bottom 2px #4285F4 solid
.icon-footer
  width 1200px
  font-size 0
  background-color #FAFAFA
.icon
  padding 16px 0 13px 0
  font-family:SourceHanSansCN-Normal;
  font-weight:400;
  font-size 16px
  width 600px
  display inline-block
  img
    width 40px
    height 40px
    // outline #333 dashed 1px
.BMap_bubble_content
  background-color #4285F4 !important
.info-window
  z-index 9999
  position absolute
  background-color #4285F4
  color #fff
  z-index 0
.triangle
  width 0
  height 0
  border-left 10px solid transparent
  border-right 10px solid transparent
  border-bottom 10px solid #4285F4
  position absolute
  top -10px
  left 20px
.info-word
  width 245px
  padding 25px 45px 40px
.email
  color #333