.news{
  width: 100%;
  color:#fff;
  background:url("../assets/news/news-banner.png") no-repeat center 0;
  background-size:100%;
}

.news-banner{
  height: 36.2rem;
  width: 100%;
}
.news-content{
  // height: 36.2rem;
  width: 100%;
  background-color: #F7F8FA;
  color: black;
}
.list-item {
  border: 1px solid black;
  margin: 10px auto;
  height: 400px;
  background: #eee;
}
