.node-time
  background url('../assets/aboutus/node-time.svg') no-repeat
  padding-top 50px
  background-position 50% 50px
  height 1707px
  font-family:SourceHanSansCN-Normal;
  font-weight:400;
  color: #333333;
.time
  font-size 14px
  margin-bottom 20px
.sec
  width 380px
  line-height:29px;
  font-size 20px
.lists
  width 380px
  text-align left
  padding 30px 100px 30px 30px
  position relative


.lists:nth-of-type(odd)
  position absolute
  left 98px
.lists:nth-of-type(even)
  position absolute
  right: 22px;

.lists:nth-of-type(1)
  position absolute
  top: 147px;
  left: 376px;
.lists:nth-of-type(2)
  position absolute
  top 292px
.lists:nth-of-type(3)
  position absolute
  top 341px
.lists:nth-of-type(4)
  position absolute
  top 527px
.lists:nth-of-type(5)
  position absolute
  top 674px
.lists:nth-of-type(6)
  position absolute
  top 821px
.lists:nth-of-type(7)
  position absolute
  top 881px
.lists:nth-of-type(8)
  position absolute
  top 1055px
.lists:nth-of-type(9)
  position absolute
  top 1145px
.lists:nth-of-type(10)
  position absolute
  top 1235px
.lists:nth-of-type(11)
  position absolute
  top 1326px
.lists:nth-of-type(12)
  position absolute
  top 1416px
.lists:nth-of-type(13)
  position absolute
  top 1562px
// .sec
//   width 380px
//   line-height:29px;