@import '../mixins.styl'

$blue=#4285F4

img
  display inline-block
  background-color: #eee;

.tabs
  overflow: hidden
  font-family:PingFangSC-Regular;
  position: absolute;
  top 60px
  border-top 1px solid rgba(255,255,255,0.3)
  border-bottom 1px solid rgba(255,255,255,0.3)
  left: 0
  right: 0
  text-align left
  z-index 1
  // &.hover
  //   background: #2f3844

.banner
  height 500px
  margin: 0 auto
  background-color: #eee;

.title
  padding-top 170px
  text-align left
  font-family:PingFangSC-Regular;
  h2
    font-size:48px
    line-height:71px
  p
    font-size:20px
    line-height:29px
h3
  font-size:34px
  line-height:50px

.current
  position relative
  height: 402px;
  // margin 56px auto 87px
  overflow hidden
  text-align left
.current-content
  width: 932px;
  $set-center()
  img
    display: inline-block;
    width 380px
    height 242px
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  .right
    display: inline-block;
    position: absolute;
    width: 450px;
    right: 0;
    top: 50%;
    transform: translateY(-60%);
    p
      font-family:SourceHanSansCN-Normal;
      margin-top: 20px;
      line-height:24px;
      color #666666
      letter-spacing: 0.5px;

.advantage
  background $blue
  padding-bottom 49px
  position relative
  box-sizing border-box
  margin-bottom 30px
  p
    font-family:SourceHanSansCN-Normal;
    width 696px
    margin 19px auto 0
  .triangle
    border-left: 30px solid transparent
    border-right: 30px solid transparent
    border-top: 30px solid $blue
    width: 0
    position: absolute
    height: 0
    left: 0
    right: 0
    bottom: -30px
    margin: 0 auto

.solution-titile
  margin 50px auto

.top-design
  position relative
  width 989px
  height 704px
  img
    position: absolute;
    width 989px
    height 600px
    left: 8%
    background: rgba(0,0,0,0)

.scenarios
  position relative
  overflow: hidden
  .scenarios-title
    overflow hidden
  .slash
    width 100px
    height 30px
    position absolute
    right 400px
    i
      border 3px solid $blue
      transform: skewX(-45deg)
      display: inline-block
      margin-right: 5px
      height: 10px
  ul
    margin-top 10px
    transition: transform 0.3s linear;
    .scenario
      width 240px
      height 380px
      position relative
      display inline-block
      margin-bottom: 20px
      overflow hidden
      .scenario-img
        width 240px
        height 381px
      .hover-bg
        position: absolute;
        top: 0;
        width 240px
        height 380px
        background: rgba(0, 0, 0, 0);
      &:hover .hover-bg
        background: rgba(28,94,205,0.5);
      &:hover .scenario-img
        transform: scale(1.06)
        transition: 0.3s linear;
      &:last-child
        margin-right 0
      span
        position absolute
        bottom 37px
        left: 50%;
        transform: translateX(-50%);
        font-size: 20px;
        z-index: 10;

.swapper-able
  width: 1440px;

.dots {
  visibility: hidden
  position: absolute;
  width: 1200px;
  height: auto;
  top: 350px;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  width: 72px
  height: 72px
  position absolute
  padding: 6px;
  font-size: 40px;
  vertical-align: middle;
  text-align: center;
  background: rgba(0,0,0,0);
  cursor: pointer;
  opacity 0.65
  z-index: 3;
}

.dot:hover {
  opacity 1
}

.dot.left {
  left 0
}

.dot.right {
  right: 0;
}

.dot.disable {
  opacity 1
}
// .dot.disable:hover {
//   background rgba(0,0,0,0)
// }

.scenarios-box:hover > .dots
  visibility: visible
  z-index 20

.cases
  margin-bottom 80px
  h3
    margin-bottom 50px
  .box
    width 380px
    display inline-block
    margin-right: 40px;
    vertical-align: top;
    &:last-child
      margin-right: 0;
    .video
      display block
    .case-title
      font-size 24px
      margin 20px auto
    .case-tips
      font-family:SourceHanSansCN-Normal;
      color #666666
