.title {
  padding-top: 45px;
  padding-bottom: 15px;
  font-family: SourceHanSansCN-Medium;
  font-size: 34px;
  letter-spacing: 0.2rem;
  color: #ffffff;
}

section.top-design {
  height: 800px;
  position: relative;
  background-color: #223B72;
  .image-box {
    position: relative;
    margin: 0 auto;
    height: 683px;
    width: 1238px;
  }
  #canvas {
    display: block;
    // display: none;
    position: absolute;
    top: 0;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  .top-design_bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
  }
  .animate {
    position: absolute;
    z-index: 3;
  }
  .animate-01 {
    top: 547px;
    left: 1061px;
  }

  /*“手机”,“个人数据”,“钻石”上下抖动动画效果*/
  @mixin upAndDown($name, $top, $left, $y) {
    @keyframes #{$name} {
      0% {
        top: $top;
        left: $left;
      }
      50% {
        top: $top + $y * 0.5;
        left: $left;
      }
      100% {
        top: $top + $y;
        left: $left;
      }
    }
  }

  @include upAndDown(data-up, 459px, 1034px, 15px);
  @include upAndDown(diamond-up, 150px, 478px, 25px);

  @include upAndDown(phone-up1, 200px, 254px, -4px);
  @include upAndDown(phone-up2, 200px, 254px, -10px);


  /*“电脑”上下抖动动画效果*/
  @mixin computerUpAndDown($name, $bottom, $left, $y, $x) {
    @keyframes #{$name} {
      0% {
        bottom: $bottom;
        left: $left;
      }
      100% {
        bottom: $bottom + $y;
        left: $left + $x;
      }
    }
  }
  @include computerUpAndDown(computer-up1, 512px, 322px, -8px, 7px);
  @include computerUpAndDown(computer-up2, 512px, 322px, -3px, 2px);

  /*blinking“闪烁”动画效果*/
  @keyframes blinking {
    0% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }

  .animate-02 {
    top: 459px;
    left: 1034px;
    animation: data-up 0.9s linear 1s infinite alternate;
  }

  .animate-03 {
    top: 470px;
    left: 250px;
    opacity: 0.2;
    animation: blinking 0.9s linear 1s infinite alternate;
  }
  .animate-04 {
    top: 237px;
    left: 408px;
    opacity: 0.2;
    animation: blinking 0.9s linear 1s infinite alternate;
  }
  .animate-05-1 {
    top: 206px;
    left: 458px;
  }
  .animate-05-2 {
    top: 250px;
    left: 459px;
    opacity: 0.2;
    animation: blinking 0.9s linear 1s infinite alternate;
  }
  .animate-05-3 {
    top: 148px;
    left: 455px;
    opacity: 0.2;
    animation: blinking 0.9s linear 1s infinite alternate;
  }
  .animate-05-4 {
    width: 285px;
    height:auto;
    top: 346px;
    left: 586px;
  }
  .animate-06 {
    top: 300px;
    left: 545px;
    opacity: 0.2;
    animation: blinking 0.9s linear 1s infinite alternate;
  }
  .animate-07 {
    top: 200px;
    left: 673px;
    z-index: 3;
  }

  .animate-08 {
    top: 150px;
    left: 478px;
    animation: diamond-up 0.9s linear 1s infinite alternate;
  }
  .animate-09 {
    bottom: 390px;
    left: 1074px;
    animation: blinking 0.9s linear 1s infinite alternate;
  }
  .animate-10 {
    bottom: 420px;
    left: 1137px;
    animation: blinking 0.9s linear 1s infinite alternate;
  }
  .animate-11 {
    bottom: 420px;
    left: 985px;
    animation: blinking 0.9s linear 1s infinite alternate;
  }
  .animate-12 {
    bottom: 478px;
    left: 1068px;
    animation: blinking 0.9s linear 1s infinite alternate;
  }

  .animate-13-1 {
    bottom: 476px;
    left: 916px;
    animation: blinking 0.9s linear 1s infinite alternate;
  }
  .animate-13-2 {
    bottom: 485px;
    left: 931px;
    animation: blinking 0.9s linear 1s infinite alternate;
  }
  .animate-13-3 {
    bottom: 494px;
    left: 947px;
    animation: blinking 0.9s linear 1s infinite alternate;
  }
  .animate-14 {
    bottom: 510px;
    left: 978px;
    animation: blinking 0.9s linear 1s infinite alternate;
  }

  .animate-15 {
    bottom: 505px;
    left: 830px;
    opacity: 0.2;
    animation: blinking 0.9s linear 1s infinite alternate;
  }

  .animate-16 {
    bottom: 562px;
    left: 910px;
    opacity: 0.2;
    animation: blinking 0.9s linear 1s infinite alternate;
  }

  .animate-17 {
    bottom: 257px;
    left: 56px;
    animation: blinking 0.9s linear 1s infinite alternate;
  }

  .animate-18-1 {
    top: 200px;
    left: 254px;
    opacity: 0.4;
    animation: phone-up1 0.9s linear 1s infinite alternate;
  }
  .animate-18-2 {
    top: 200px;
    left: 254px;
    opacity: 0.6;
    animation: phone-up2 0.9s linear 1s infinite alternate;
  }
  .animate-19-1 {
    bottom: 512px;
    left: 322px;
    opacity: 0.3;
    animation: computer-up1 0.9s linear 1s infinite alternate;
  }
  .animate-19-2 {
    bottom: 512px;
    left: 322px;
    opacity: 0.4;
    animation: computer-up2 0.9s linear 1s infinite alternate;
  }
}
